.projects__inner {
}
.projects__title {
  margin-bottom: 45px;
}
.projects__categories {
}
.projects__categories-list {
  display: flex;
  gap: 24px;
  overflow: auto hidden;
}
.projects__categories-item {
  position: relative;
  transition: .3s;
  display: flex;
  align-items: center;
  height: 56px;
  &::before {
    transition: .3s;
    z-index: -1;
    opacity: 0;
    content: '';
    position: absolute;
    top: 100%;
    padding: 20px 10px;
    width: 100%;
    height: 0;
    border-radius: $main-border-radius $main-border-radius 0 0;
    background: $primary-color;
  }

  &.active {
    &::before {
      opacity: 1;
      top: 0%;
      height: 100%;
    }

    .projects__categories-btn {
      border: none;
      cursor: default;
    }
  }
}
.projects__categories-btn {
  background: none;
  line-height: 100%;
  text-align: end;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  padding: 8px 10px 6px;
  border-radius: $main-border-radius;
  border: solid $primary-color 1px;
  transition: .6s;
  white-space: nowrap;

  &:hover {
    border: 1px solid $secondary-color;
    filter: drop-shadow(0px 0px 4px $secondary-color);
    transition: .3s;
  }
}
.projects__slider {
  background: $primary-color-gradient;
}
.projects__slider-inner {
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;
  min-width: 0;
  padding: 30px 0 0 15px;
  margin: 0 0 0 -15px;
}

.projects__slider-arrows {
  display: flex;
  gap: 14px;
  justify-content: flex-end;

  .projects__slider-arrow  {
    cursor: pointer;
    display: block;
    position: relative;
    width: 32px;
    height: 36px;
    background: $accent-color;
    border-radius: $main-border-radius;
    transition: .3s;

    &::after {
      position: absolute;
      content: '';
      background: url(../images/sprites/sprite.svg#control-triangle) no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 16px; 
      height: 16px;
    }

    &:nth-of-type(2) {
      &::after {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &:hover {
      transform: translateY(-5%);
    }
    &.swiper-button-disabled:hover {
      transform: translateY(0%);
    }
    &:active {
      transform: scale(0.95);
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
.projects__card-box {
  &.swiper {
    width: 1200px;
    max-width: 100%;
    height: auto;
    overflow: visible;
  }
  .projects__card-box-wrapper {
    padding: 15px 0 0 15px;
    margin: -15px 0 0 -15px;
  }
}
.projects__card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  background: #D9D9D9;
  border-radius: $main-border-radius;
  transition: .3s;
  max-width: 346px;
  max-width: 100%;
  width: 100%;
  height: 380px;
  overflow: hidden;
  

  &.commercial {
    .projects__badge {
      display: initial;
      background: linear-gradient(135deg, #e1ba51 0%, #978252 50%, #e1d0a7 99%);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &::after {
        content: '';
        background: url(../images/sprites/sprite.svg#currency-dollar) no-repeat;
        width: 18px;
        height: 18px;
        display: inline-block;
      }
    }
  }
  // &.mini-projects {
  //   .projects__badge {
  //     display: initial;
  //     background: #6a7898;

  //     &::before {
  //       content: 'Мини-проект';
  //     }
  //   }
  // }
  // &.design {
  //   .projects__badge {
  //     display: initial;
  //     background: $pink-color;
  //     content: 'Макет';

  //     &::before {
  //       content: 'Дизайн';
  //     }
  //   }
    
  //   .projects__btn:nth-child(2) {
  //     display: none;
  //   }

  //   .projects__btn span::before {
  //     content: 'Макет';
  //   }
  // }
  // &.design-n-markup {
  //   .projects__badge {
  //     display: initial;
  //     background: linear-gradient(90deg, #7926E2 0%, #c23650 99%);
  //     content: 'Макет';

  //     &::before {
  //       content: 'Дизайн и верстка';
  //     }
  //   }
    
  //   .projects__btn:nth-child(2) {
  //     display: none;
  //   }

  //   .projects__btn span::before {
  //     content: 'Макет';
  //   }
  // }
  // &.development {
  //   .projects__badge {
  //     display: initial;
  //     background: #4875dc;

  //     &::before {
  //       content: 'Разработка';
  //     }
  //   }
  // }
  // &.illustrations {
  //   .projects__badge {
  //     display: initial;
  //     background: #d87e29;

  //     &::before {
  //       content: 'Иллюстрация';
  //     }
  //   }
  // }
  // &.markup {
  //   .projects__badge {
  //     display: initial;
  //     background: #c23650;

  //     &::before {
  //       content: 'Верстка';
  //     }
  //   }
  // }

  &.active {
    transform: scale(0.98) translate(-6px, -6px) ;
    box-shadow: 6px 6px 0 0 $primary-color;
    transition: .3s;

    .projects__btn {
      transition: .4s cubic-bezier(.7,-0.22,.37,1.51);
      transform: translate(0);
    }
    
    &::after {
      cursor: default;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #192a4b51;
      backdrop-filter: blur(4px);
      animation: overlay-apear .3s ease-in alternate;
    }
  }

  .projects__card-description {
    transition: .4s;
    cursor: default;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #192A4B 0%, #395b9fb3 66%, #5773ffbf 99%);
    padding: 50px 15px 15px;

    &.no-desc {
      display: none;
    }
  }
  .projects__description-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    
  }
  .projects__description-body {
  }

  &.description-open {
    .projects__card-description {
      opacity: 1;
      z-index: 1;
    }
  }
}
.projects__badge {
  z-index: 0;
  cursor: default;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: 14px;
  background: $pink-color;
  display: none;
}
.projects__thumbnail-box {
  backface-visibility: hidden;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.projects__btn-box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.no-btns {
    display: none;
  }

  &.one-btn .projects__btn {
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
  }

  &.two-btns .projects__btn {
    &:nth-child(3) {
      display: none;
    }
  }
}
.projects__btn {
  transition: .6s cubic-bezier(0,.5,.32,1.64);

  span {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:nth-child(odd) {
    transform: translateX(-125%);
  }
  &:nth-child(even) {
    transform: translateX(125%);
  }
}
.projects__btn-link {
  z-index: 1;
}
.projects__slider-dots {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  
  .projects__slider-dots-wrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 16px;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .projects__slider-dots-wrapper.swiper-pagination-bullets-dynamic {
    position: absolute;
    display: initial;
    margin: auto 0;
    //align-items: center;

    .swiper-pagination-bullet-active-prev, .swiper-pagination-bullet-active-next {
      transform: scale(0.77);
    }
    .swiper-pagination-bullet-active-prev-prev, .swiper-pagination-bullet-active-next-next {
      transform: scale(0.55);
    }
  }
  span {
    transition: .4s;
    font-size: 0;
    width: 36px;
    height: 8px;
    width: 15px;
    height: 15px;
    background: #a4c2ff;
    border-radius: 8px;

    &.swiper-pagination-bullet-active {
      background: $accent-color;
      transform: scale(1);
    }
  }
}