.footer__top {
  margin: 70px 0;
}
.footer__top-inner {
  display: flex;
  align-items: center;
}
.footer__logo {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__cocials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.footer__top-email-link {
  @include main-font-styles($subtitle);
  transition: .4s;

  &:hover {
    color: $secondary-color;
  }
}
.footer__socials-list {
  margin-top: 36px;
  display: flex;
  gap: 20px;
}
.footer__socials-item {
}
.footer__socials-link {

  svg {
    width: 24px;
    height: 24px;
    transition: .4s;
    fill: #fff;
  }
 
  &:hover svg {
    fill: $secondary-color;
  }
}

.footer__navbar {
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__nav-item {
  @include main-font-styles($title);
  transition: .4s;
  z-index: 10;
  height: 100%;

  &:hover {
    color: $secondary-color
  }
}
.header__nav-link {
  height: 100%;
  display: flex;
  align-items: center;
}

// footer bottom
.footer__bottom {
  margin: 36px 0;
}
.footer__bottom-inner {
  display: flex;
}
.footer__copyright {
  display: inline-block;
  justify-self: center;
}