.svg-Logo-dims { width: 32px; height: 36px; }
.svg-Logo-light-dims { width: 58px; height: 60px; }
.svg-Logo-wide-light-dims { width: 130px; height: 60px; }
.svg-arrows-down-dims { width: 38px; height: 32px; }
.svg-code-dims { width: 24px; height: 24px; }
.svg-contacts-illustration-dims { width: 538px; height: 338px; }
.svg-control-triangle-dims { width: 16px; height: 16px; }
.svg-dc-robot-dims { width: 24px; height: 24px; }
.svg-design-dims { width: 24px; height: 24px; }
.svg-dialog-cloud-dims { width: 144px; height: 112px; }
.svg-drop-down-dims { width: 14px; height: 12px; }
.svg-external-link-dims { width: 16px; height: 16px; }
.svg-github-dims { width: 24px; height: 24px; }
.svg-instagram-dims { width: 24px; height: 24px; }
.svg-mail-dims { width: 24px; height: 24px; }
.svg-polygon-path-dims { width: 1661px; height: 511px; }
.svg-polygon-path-about-dims { width: 1920px; height: 592px; }
.svg-polygon-path-contacts-dims { width: 651px; height: 731px; }
.svg-polygons-path-dims { width: 1652px; height: 512px; }
.svg-queistion-marks-dims { width: 44px; height: 67px; }
// .svg-robot-dims { width: 391px; height: 311px; }
.svg-telegram-dims { width: 24px; height: 24px; }